ul {
 padding: 0;
 display: flex;
 flex-direction: column;
 gap: 10px;
 li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  line-height: 26px;
 }
}

.checkbox {
 width: 26px;
 height: 26px;
 border: 1px solid var(--button-color);
 background: transparent;
 margin-right: 18px;
}

.btnContainer {
 display: flex;
 align-items: center;
 gap: 8px;
}

.priorityButton {
 width: 20px;
 height: 20px;
 border: 1px solid var(--button-color);
}

.priorityButtonHight {
 @extend .priorityButton;
 background: darkred;
}

.priorityButtonLow {
 @extend .priorityButton;
 background: gray;
}

.priorityButtonNone {
 @extend .priorityButton;
 background: transparent;
}

.note {
 width: 100%;
 display: flex;
 align-items: center;
}

.editInput {
 border: none; /* Убираем стандартную рамку */
 outline: none; /* Убираем обводку при фокусе */
 padding: 0; /* Убираем отступы */
 margin: 0; /* Убираем внешние отступы */
 background: transparent; /* Убираем фоновый цвет */
 box-shadow: none; /* Убираем тень */
 font-family: inherit; /* Устанавливаем шрифт как у родителя */
 font-size: inherit; /* Устанавливаем размер шрифта как у родителя */
 line-height: inherit; /* Устанавливаем высоту строки как у родителя */

 border-bottom: 1px solid var(--button-color);
 color: var(--text-color);
 width: 70%;
}

.priority {
 color: red;
}
