.flexContainer {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.list {
 width: 100%;
 border-bottom: 1px dotted var(--text-color);
 display: flex;
 flex-direction: column;
 gap: 10px;
}
.todoItem {
 margin-bottom: 10px;
}
//
.headlineWrapper {
 width: 100%;
 justify-content: space-between;
 box-sizing: border-box;
 margin-bottom: 10px;
}
.filtersContainer {
 display: flex;
 gap: 8px;
 margin-bottom: 15px;
}
.filterActive {
 color: var(--button-color);
 transition: color 0.3s ease;;
}
.counter {
 display: inline-flex;
 width: 10px;
 height: 10px;
 background: var(--button-color);
 border-radius: 50%;
 padding: 5px 5px;
 align-items: center;
 margin-left: 4px;
 color: white;
}
.smallHeadline {
 margin: 0 8px 0 0;
 font-size: 24px;

 &::first-letter {
  text-transform: uppercase;
 }
}
.btnWrapper {
 margin-left: 10px;
}
